<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Tesla Wall Connector</string>
	<key>CFBundleIdentifier</key>
	<string>com.coolcaper.teslawallconnector</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>https://github.com/coolcaper777</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2026.2.0</string>
	<key>PluginVersion</key>
	<string>2026.2.0</string>
	<key>ServerApiVersion</key>
	<string>3.1</string>
</dict>
</plist>
